.cart-image {
    filter: brightness(0) invert(1);
    width: 50%;
    height: 50%;
}

.mt-10 {
    margin-top: 10%;
    text-align:center
    
}
form {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}